<ng-include src="'assets/partials/navbar.html'"></ng-include>
<!--<div class="categories">
	<ul class="category_list">
		  <li><a href="/home" ng-click="goToHome('Featured')">Home</a></li>
		  <li><a href="/home" ng-click="goToHome('Men')">Men's</a></li>
		  <li><a href="/home" ng-click="goToHome('Women')">Women's</a></li>
		  <li><a href="/home" ng-click="goToHome('Kids')">Kids'</a></li>
		  <li><a href="/home" ng-click="goToHome('Accessories')">Accessories</a></li>
		  <li><a href="/help-contact" class="fr">Help &#38; Contact</a></li>
	</ul>
</div>-->
<div id="item">
	<div class="content maincontainer">
		<button class="backButton" ng-click="$back()">Back to previous page</button>
		<div class="clothing_item"  style="width:100%;margin-top:10px;">
			<div class="item_gallery d-ib fl">
				<div class="item_mainView slider" id="slider">

					<div class="holder" style="width:{{imagesLength.promise.$$state.value}}00%;">
						<div class="slide-wrapper" ng-repeat="url in item.imageUrls" style="width:{{100/imagesLength.promise.$$state.value | number:1}}%;">
							<div class="slide"><img class="slide-image clothing" ng-src="{{url}}"/></div>
						</div>
					</div>

				</div>
				<div class="g_thumbnail d-ib fl" ng-repeat="url in item.imageUrls">
					<img data-id="{{$index}}" ng-click="changeImage($event)" class="clothing" ng-src="{{url}}" style="width:70px;height:50px;margin:1px 0 0 1px;border:{{$index==0?2:0}}px solid #00c7ff;"/>
				</div>
			</div>

			<div class="info d-ib fl">
				<h2>{{item.Name}}</h2>
				<span class="price">{{item.Price}} SEK</span>
				<br>

				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Size:</strong>
					</div>
					<div class="t-rc d-ib">
						<strong ng-show="oneSize">One Size</strong>
						<select ng-disabled="sold_out_s" ng-show="selectSize" ng-model="selectedSize" ng-options="size for size in sizes" ng-change="getColors()" style="width:200px;height:25px;border-radius:5px;">
							<option value="">---select size---</option>
						</select>
					</div>
				</div>

				<br>
				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Color:</strong>
					</div>
					<div class="t-rc d-ib">
						<select ng-disabled="sold_out" ng-model="selectedColor" ng-options="color for color in colors" ng-change="getAmount()" style="width:200px;height:25px;border-radius:5px;">
							<option value="">---select color---</option>
						</select>
					</div>
				</div>
				<br>
				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Amount:</strong>
					</div>
					<div class="t-rc d-ib">
						<input ng-disabled="sold_out" type="number" ng-model="selectedAmount" min="1" ng-change="checkAmount()" class="input_s2"></input> <span class="amount">{{amount}} available</span>
					</div>
				</div>
				<br>
				<button style="border-radius:10px; margin-top:15px;" id="{{item.Id}}" class="add_to_cart" ng-click="addToCart()" ng-disabled="b_disabled">Add To Cart</button>
				<br>
				<div ng-show="sold_out" style="text-align:center;"><img src="assets/images/sold_out.png" width="150px"/></div>
				<span id="statusMessage" ng-bind="statusMessage" style="text-align:center;display:block;"></span>
				<br>
				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Category:</strong>
					</div>
					<div class="t-rc d-ib">
						{{item.Category}}
					</div>
				</div>
				<br>
				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Gender:</strong>
					</div>
					<div class="t-rc d-ib">
						{{item.Gender}}
					</div>
				</div>
				<br>
				<div class="d-ib">
					<div class="t-lc">
						<strong class="fr" style="margin-left: auto;">Region of Manufacture:</strong>
					</div>
					<div class="t-rc d-ib">
						{{item.Country}}
					</div>
				</div>
				<br><br>
				<div class="d-ib">
					<strong>Description</strong>
					<br>
					{{item.Description}}
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="recommendations" style="width:100%;margin-top:20px;">
		<h2 style="text-align:left;">You might also like:</h2>
		<div ng-repeat="items in category" style="border-top: 1px solid black;overflow: hidden;padding-bottom: 50px;">
			<div class="clothing_item itemBox itemBox_s" ng-repeat="rec_item in items" ng-if="item.Id != rec_item.Id">
				<a href="/item/{{rec_item.Id}}"><img class="adImages clothing" ng-src="{{rec_item.imageUrl}}" style="width:100px;height:120px;"/></a>
				<a href="/item/{{rec_item.Id}}" style="font-size:0.78em;margin:2px 5px 0 5px;">{{rec_item.Name | shorten}}</a>
					</br>
					<strong style="color:black;">{{rec_item.Price}} SEK</strong>
			</div>
		</div>
	</div>
</div>
