<div id="header" ng-controller="NavbarCtrl" ng-init="init()">
	<div class="header_c center">
		<div id="menu">
			<ul class="category_list">
				<li><a href="#" ng-click="updateCategory('Featured', $event)" id="Featured"><span>Home</span></a></li>
				<li><a href="#" ng-click="updateCategory('Men', $event)" id="Men"><span>Men's</span></a></li>
				<li><a href="#" ng-click="updateCategory('Women', $event)" id="Women"><span>Women's</span></a></li>
				<li><a href="#" ng-click="updateCategory('Kids', $event)" id="Kids"><span>Kids'</span></a></li>
				<li><a href="#" ng-click="updateCategory('Accessories', $event)" id="Accessories"><span>Accessories</span></a></li>
				<li><a href="#" ng-click="updateCategory('Help-contact', $event)" id="Help-contact"><span>Help &#38; Contact</span></a></li>
			</ul>
		</div>

		<a href="#" ng-click="updateCategory('Featured', $event)" style="margin-top: 0px;">
			<img src="assets/images/logo.png" class="logo"></img>
		</a>

		<div id="search_input" ng-controller="HomeCtrl">
			<input type="text" ng-model="query" placeholder="Search for products" ng-keyup="keyUpFunction(query)"/>
			<button ng-click="getSearch(query)"><img src="assets/images/search-icon.png"/></button>
			<div ng-show="showSearchResult" id="search-input-frame" ng-repeat="items in searchResult | filter:query">
				<div ng-repeat="item in items">
					<div style="display:inline-block;"><img ng-src="{{item.imageUrl}}" class="logo"/></div>
					<div style="display:inline-block;width: 80%; margin-left: 5px;position: absolute;">
						<a href="/item/{{item.Id}}" class="searchResult">{{item.Name}}</a>
						</br>
						<span style="font-size:0.7em;color:green;">{{item.Price}} SEK</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="headerMenuBar">
			<div id="dMenu-icon" ng-show="showMenuIcon" ng-click="toggleDMenu($event)" class="fr"></div>
			<a href="/cart" class="shopping_cart cartIcon fr"><span style="color: #FD541B; margin-top: -5px; margin-left: 5px; font-size:14px;">{{itemsAmount}}</span></a>
			<a href="/login" class="loginIcon" ng-show="notLoggedIn" class="fr">Log In</a>
			<a href="/profile" ng-show="loggedIn" class="fr">{{full_name}}</a>
			<div id="dropdownMenu" class="fr" style="display:none;">
				<div class="categories_mv">
					<ul class="category_list">
					  <!--<li ng-show="mobile_device"><a href="#" ng-click="updateCategory('Featured', $event)" id="Featured">Home</a></li>
					  <li ng-show="mobile_device"><a href="#" ng-click="updateCategory('Men', $event)" id="Men">Men's</a></li>
					  <li ng-show="mobile_device"><a href="#" ng-click="updateCategory('Women', $event)" id="Women">Women's</a></li>
					  <li ng-show="mobile_device"><a href="#" ng-click="updateCategory('Kids', $event)" id="Kids">Kids'</a></li>
					  <li ng-show="mobile_device"><a href="#" ng-click="updateCategory('Accessories', $event)" id="Accessories">Accessories</a></li>-->
					  <li ng-show="mobile_device"><a href="/help-contact" class="fr">Help &#38; Contact</a></li>
					  <li ng-show="loggedIn"><a href="/change-password" class="fr">Change Password</a></li>
					  <li ng-show="loggedIn"><a href="/home" ng-click="logOut()" class="fr">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>