<ng-include src="'assets/partials/navbar.html'"></ng-include>
<div id="reset" class="mainContainer content center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<div id="reset_screen" ng-show="not_sent">
		<h1>Reset your password</h1>
		<table>
			<tr>
				<td colspan="2" width="300px">Enter your email adress</td>
			</tr>
			<tr>
				<td colspan="2">
					<input id="userInfo" name="userEmail" ng-model="email"></input>
				</td>
			</tr>
		</table>
		<a class="button fr" ng-click="resetPassword()" style="margin:10px 10px 0 0;">Confirm</a>
	</div>
	<div id="reset_message" ng-show="sent">Password reset email sent successfully!</div>
</div>