body { 
	margin: 0;
	position: relative;
	z-index: 1;
}
.maincontainer {
	width: 100vw;
	height: auto;
	overflow: hidden;
	position: relative;
	z-index: -500;
}
*:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    -webkit-appearance:none;
}
::-moz-focus-inner {
	border:0;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    -webkit-appearance:none;*/
}
a{
	text-decoration: none;
	color:#428bca;
}
h1 {
	font-size: 1.2em;
}
h1>a{
	text-decoration: none;
	color:#FFFFFF;
}

.centerContent {
	text-align:center;
}
.center {
	margin-left:auto; 
    margin-right:auto;
}
.logo {
	height:22vw; width:auto;
}
table input {
	/*width: 99%;*/
	height: 5vw;
}
table th {
	background-color: #9E9E9E;
	padding: 10px 15px 10px 15px;
}
table td {
	background-color: rgba(158, 158, 158, 0.26);
	padding: 0px 10px 0px 10px;
	border-radius: 3px;
}
#editAccount table td {
	background-color: rgba(158, 158, 158, 0);
}
#profile{
	text-align: left;
}
#profile table {
	width: 100%;
	/*margin-left: 20%;*/
}
#profile>table th {
	background-color: rgb(144, 245, 255);
}
#profile table td {
	background-color: rgba(144, 210, 210, 0.26);
	font-size: 0.87em;
	padding: 3px;
}
#purchases>span {
	display: block;
	float: left;
	margin-left: 3px;
	font-size: 0.9em;
}
#purchases strong {
	font-size: 1.1em;
	font-style: normal !important;
}
#cart table th {
	background-color: rgb(255, 185, 144);
	padding: 5px 5px 5px 5px;
}
#cart table td {
	background-color: rgba(247, 224, 188, 0.32);
	padding: 0px 5px 0px 5px;
}
#profile table.center th {
	background-color: rgb(255, 144, 144);
	padding: 5px;
	font-size: 0.8em;
}
#profile table.center td {
	background-color: rgba(255, 144, 144, 0.2);
/*	padding: 3px 10px 3px 10px;*/
}
input#userInfo {
	background-color: rgba(255, 144, 144, 0.2);
	padding: 3px 2px 3px 2px;
	width: 97%;
	height: 25px;
	border-radius: 5px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.table {
	display: table;
}
.button {
	color: #fff;
    background-color: #428bca;
    border-radius: 4px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    border:0;
}
#header{
	height: auto;
	width: 100vw;
	left:0;
	right:0;
	top:0;
	position:absolute;
}
#header:before{
	content: "";
	height: 15.2vw;
	width: 100%;
	position: absolute;
	background-color: rgba(35,215,255,0.9);
}
.header_c{
	width: 100vw;
	height: auto;
}
.header_c>a{
	position:absolute;
}
.headerMenuBar{
	float: right;
	width: 62vw;
	position: relative;
	margin:-5px 0 0 0;
}
.shopping_cart{
	display:inline-block;
	background-image: url("images/shopping-cart2.png");
	background-repeat: no-repeat;
	background-position: 0px 10px;
	height: 40px;
	width: 30px;
	margin-right: 10px !important;
	margin-top:10px !important;
}
#search_input{
	margin-left: 6.5vw;
	margin-top: 20vw;
	display: inline-block;
	vertical-align: top;
	width: 90%;
	z-index: -2;
	position: absolute;
}
#search_input>input{
	height:8vw; border-top-left-radius:10px; border-bottom-left-radius:10px; padding-left:5px;
	width: 75%;
	top:0;
	border:1px solid gray;
	background-color: rgba(226, 226, 226, 0.9);
}
#search_input>button{
	margin-left: 0px;
	width: 17vw;
	min-height: 8.78vw;
	margin: 0;
	padding: 0;
	vertical-align: top;
	border:1px solid gray;
	background-color:white;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	cursor: pointer;
	background-color: rgba(226, 226, 226, 0.9);
}
#search_input>button>img{
	height: 25px;
	width: 25px;
}
#header a{
	top:0;
	display: inline-block;
	margin-right: 12px;
	margin-top: 25px;
	color: #FFFFFF; 
	font-family: 'Raleway',
	sans-serif;
	font-size: 0.65em;
	font-weight: 800;
	text-decoration: none;
    text-transform: uppercase;
}
div.content {
	width: 100%;
	display: inline-block;
	float: left;
	margin-left: 0;
	margin-top: 32vw;
	position:relative;
	z-index: -100;
	text-align: center;
	padding-bottom: 25px;
}
.itemsContent{margin-left: 4px; width: 97.4vw; padding-bottom: 25px; overflow: hidden;}

.itemsContent:before{
	content: "";
    border-bottom: 1px solid black;
    width: 99% !important;
    display: block;
    margin-left: 0.5%;
}
h2{
	font-size: 0.8em; 
    font-family: 'Raleway',
	sans-serif; 
	font-weight: 800;
    margin-left: 15px;
    text-transform: uppercase;
    -webkit-margin-before:0em;
    -webkit-margin-after:0.5em;
}
h3, h4{
	font-family: 'Raleway',
	sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
h3{
	font-size: 0.95em !important;
}
h3>a{
	color: #000000;
}
h4>a{
	color: red; font-size: 0.7em;
}
strong{font-size: 0.7em;}
.clothing_item{
 	display: inline-block;
 	float:left;
}
.itemBox{
	width:46.82vw;height:75vw;/*text-align:center;*/border:1px solid silver;border-radius:10px;overflow:hidden;margin:5px 2px 0 2px;
}
.itemBox_s{
	text-align:center;margin-right:5px;height: 175px;
}
.itemBox-i{
	background-color:rgba(192,192,192,0.3);border:0px;margin-top:5px;height:65px;padding:5px 0 15px 5px;
}
.itemBox-i strong{
	display: block;
	padding: 5px 0 5px 0;
}
img.clothing{
	width:100%;
	height:70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.price{
	font-family: 'Raleway',
	sans-serif;
	font-weight: 600;
	color: red;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.sn_button{
	font-size:0.8em;padding: 5px 10px;margin-top:5px;/*border-top-left-radius:15px;*/border-bottom-left-radius:15px;
}
.add_to_cart{
 	display: block;
 	font-size: 15px; 
 	font-family: 'Raleway',
 	sans-serif; 
	font-weight: 800;
	color: #FFFFFF;
	background-color: rgba(128,128,128,0.1);
    width: 200px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.info{
	font-family: 'Raleway', sans-serif;
	/*width:60%; padding-left:20px;*/
	text-align: center;
}
.info>button{
	margin-left: auto;
	margin-right: auto;
}
#slideShow {
	min-width: 99.5%;
	max-width: 99.5%;
	height: 35vw;
	overflow: hidden;
	border: 1px solid black;
	padding: 10px 0 10px 0;
	text-align: center;
	margin-top: 0vw;
	margin-right: -1%;
	border-radius: 10px;
	position: relative;
	z-index: -10;
}
#slideShow>img{width:auto; height:100%;}
.roundButton{
	font-size: 25px;
	border-radius: 50px;
	width:20vw;
	height:20vw;
	border:1px solid rgba(177,177,177,0.5);
	cursor: pointer;
	margin-top: -28.5%;
	background-color:rgb(177, 177, 177);
}
@keyframes drawLeft{
	from {
		margin-left: -100px;
	} to {
		margin-left: -50px;
	}
}
@keyframes drawRight{
	from {
		margin-right: -100px;
	} to {
		margin-right: -50px;
	}
}
.leftarrow{
	float:left;
	margin-left: -10vw;
	padding-left: 10vw;
	animation: 0.5s drawLeft;
}
.rightarrow{
	float:right;
	margin-right: -10vw;
	padding-right: 10vw;
	animation: 0.5s drawRight;
}
#search-input-frame{
	display: block;
	background-color: rgba(0, 0, 0, 0);
}
#search-input-frame>div{
	border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(222, 253, 255, 0.9);
    padding: 5px;
    font-size: 1.1em;
    overflow: hidden;
    position: relative;
}
#search-input-frame>div img{
	width: 7vh;
	height: 7vh;
}
a.searchResult{
    color: #001eb7 !important;
    font-family: Arial, Helvetica serif !important;
    font-weight: 400 !important;
    text-transform: none !important;
    margin-top: 0px !important;
}
#dropdownMenu{
	background-color: rgba(192, 195, 196, 0.9);
	width: 45vw;
	height: auto;
	border:1px solid white;
	border-radius: 10px;
	z-index: 1;
}
#dropdownMenu>a{
	font-weight: 100;
	margin-right: 10px;
	color:black;
	text-transform: capitalize; 
}
#dMenu-icon{
	background-image: url("images/menu-icon.png");
	width: 25px;
	height: 25px;
	margin-top: 20px;
	background-size: 25px 25px;
	margin-right: 4px;
}
.categories_mv{
	float: left;
}
.categories_mv>ul.category_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li>a:link, li>a:visited {
	float:left;
	border-radius: 10px;
    font-size: 0.7em !important;
    font-family: 'Raleway',
	sans-serif; 
	font-weight: 800;
    color: #FFFFFF;
    background-color: rgba(128,128,128,0.6);
    width: 40.5vw;
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    text-transform: uppercase;
    border:1px solid white;
    margin-top: 2px !important;
}
li>a:active, li>a:focus{
    background-color: rgba(0,0,0,0.7);
}
.d-ib{
	display: inline-block;
	/*padding-bottom:5px;*/
}
.t-lc{
	/*width:200px; *//*display:inline-flex;*/
}
.t-rc{
	width: 300px; margin-left:10px;
}
.backButton{
	display:block; margin-top:25px; border-radius:5px; cursor: pointer;
}
#loading{
	position: fixed;
    background-color: rgba(177,177,177,0.2);
    width: 100vw;
    height: 110vh;
    z-index: 1 !important;
    background-image: url(images/loading2.gif);
    background-size: 50vw 50vw;
    background-repeat: no-repeat;
    background-position: 45% 200px;
}
.login {
	text-align: left !important;
	padding: 0 10vw 0 10vw;
	width: 80vw !important;
}
.login>button{
	margin-left: -10vw !important;
}
.item_gallery{
	width:99.5%;
}
.item_mainView{
	width:100%;border:1px solid gray; /*border-radius:5px;*/
}
.input_s2{
	border: 1px solid gray;
    border-radius: 5px;
    width: 25%;
}
.info strong{
	font-style: italic;
	float: none;
}
.info h3{
	font-size: 0.75em;
    font-weight: 800;
}
#cart th{
	font-size: 0.8em;
}
#cart td{
	font-size: 0.75em;
}
#register table td {
	background-color: rgb(255, 255, 255); font-size: 0.76em;
}
#reset table td {
	background-color: rgb(255, 255, 255);
}
.off{
   pointer-events:none;
}
.animate { transition: transform 0.3s ease-out; }
.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
	border:1px solid gray;/*border-radius:10px;*/
}
.holder {
    width: 300%;
    max-height: 100vw;
    height: 100%;
    overflow-y: hidden;
    z-index: 1 !important;
}
.slide-wrapper {
    width: 33.31%;
    height: 100%;
    float: left;
    height: 100vw;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 2em;
}
.slide {
    height: 100%;
    position: relative;
}
/*.slide:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
}*/
.slide img {
/*    position: absolute;*/
    z-index: 0;
    transform: translatex(-0px);
    width: 100%;
    height: 100%;
}
